apiVersion: core.spinoperator.dev/v1
kind: SpinAppExecutor
metadata:
  name: containerd-shim-spin
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "1"
spec:
  createDeployment: true
  deploymentConfig:
    runtimeClassName: wasmtime-spin-v2
